@model avalonbuild.com.Models.Galleries.Gallery

@{
    ViewBag.Title = Model.Name;
	ViewBag.Description = Model.Name;
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/gallery.css">
}

<section id="gallery">

	<div class="container">

		<header>

			<h2>@Model.Name</h2>

		</header>

		<ul>
			@foreach (var image in Model.Images)
			{
				<li>

					<a href="">

					<figure>
						<img src="@Url.Content(@image.ImageUrl)" alt="@image.Name">
						<figcaption>
							<h3>@image.Name</h3>
						</figcaption>
					</figure>

					</a>

				</li>
			}
		</ul>

	</div>

</section>